<%= render 'shared/navbar-in-app' %>

<div class="container">
  <div class="workspace d-flex justify-content-space-between">
  <div class="left col-7">

      <div id="anotherone" class = "d-flex justify-content-space-between purple1">
        <%= image_tag "tyrion.jpg", alt: "alttext", class: "tyrion mr-3 mb-3", id: "tyrion-with-br2"%>
        <h2 class="paddr">Need help? Post a request</h2>
      </div>

        <h2>Completed Jobs</h2>
            <% @posts.where(completed: true).each do |post| %>
        <div class = "d-flex justify-content-space-between purple1">
         <%= image_tag "tyrion.jpg", alt: "alttext", class: "tyrion mr-3 mb-3", id: "tyrion-with-br1"%>
        <div>
          <div class="ASAP10">ASAP</div>
            <h6><strong><%= post.title.capitalize %></strong></h6>
            <p><%= post.content.capitalize %></p>
            <p><%= post.date %></p>
          </div>
        </div>
        <% end %>

        <h2>Pending Jobs</h2>
        <% @posts.where(completed: false).each do |post| %>
        <div class = "d-flex justify-content-space-between purple1">
         <%= image_tag "tyrion.jpg", alt: "alttext", class: "tyrion mr-3 mb-3", id: "tyrion-with-br1"%>
        <div>
            <h6><strong><%= post.title.capitalize %><strong></h6>
            <p><%= post.content.capitalize %></p>
            <p><%= post.date %></p>
          </div>
        </div>
        <% end %>

      <h2>Approved Jobs</h2>
        <% @bids.where(approved: true).each do |bid| %>
        <div class = "d-flex justify-content-space-between purple1">
                   <%= image_tag "tyrion.jpg", alt: "alttext", class: "tyrion mr-3 mb-3", id: "tyrion-with-br1"%>
        <div>
        <h6><strong><%= bid.post.title.capitalize %><strong></h6>
        <p><%= bid.post.content.capitalize %></p>
        <p><%= bid.post.date %></p>
        <% end %>
      </div>
    </div>

  </div>
  <div class="right col-5">
    <h1>Top Helpr's</h1>
        <div class="bidder mb-4">
                <%= image_tag "tyrion.jpg", alt: "alttext", class: "tyrion mr-3", id: "tyrion-with-br1" %>
              <div class="ml-4">
                <div>
                <%= @user.first_name %> <%= @user.last_name %>
                </div>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
              <div>
                <div>
                  <div class="d-flex justify-content-center align-items-center ml-3 mr-3">
                      <div class="ASAP3 m-1">
                      <%= image_tag "help", alt: "alttext", class: "icon"%>
                      </div>
                      <div class="ASAP4 m-1">
                      <%= image_tag "worker", alt: "alttext", class: "icon" %>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center ml-3 mr-3">
                      <div class="ASAP2 m-1">
                      <%= image_tag "bulb", alt: "alttext", class: "icon" %>
                      </div>
                      <div class="ASAP1 m-1">
                        <%= image_tag "trolley", alt: "alttext", class: "icon" %>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
                    <div class="map-container1">
                        <img alt="map" src="https://images.unsplash.com/photo-1577086664693-894d8405334a?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1533&amp;q=80">
                        <div class="map-bottom1">
                          <h3>Help map</h3>
                          <p>See all the help requests in your area on the help map.</p>
                        </div>
                      </div>
        </div>

  </div>
  </div>
</div>


