<div class="container-narrow">
  <div class="user-info" >
    <% if  @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key,height: 150, :quality=>60, crop: :mfit, class: "avatar-show-square", alt: "profile image"  %>
    <% else %>
      <div class="avatar-show-square">
        <%= cl_image_tag("fpatfvf9edoaaqhbkfrt",
               width: 150, crop: :fill, class: "avatar-show-square", alt: "profile image")  %>
      </div>
    <% end %>
    <div class="info">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <span><%= @stars %></span>
      <p><%= @user.bio %></p>
      <p class="address"><%= @user.address %></p>
      <%= link_to "Edit Profile", edit_user_registration_path %>
    </div>
</div>
<div class="reviews">
  <h2>My Reviews</h2>
  <% @bids.where(approved: true).each do |bid| %>
    <% if bid.reviews.any?%>
      <div class="review-post">
        <div class="avatar-post-container">
          <div>
            <% review = bid.reviews.first%>
            <% if  review.user.photo.attached? %>
              <%= cl_image_tag review.user.photo.key,height: 72, :quality=>60, crop: :mfit, class: "avatar-extra-large", alt: "profile image"  %>
            <% else %>
              <%= cl_image_tag("fpatfvf9edoaaqhbkfrt",
                    width: 72, crop: :fill, class: "avatar-extra-large", alt: "profile image")  %>
            <% end %>
          </div>
          <div class="post-content">
            <h3><%= review.user.first_name %> <%= review.user.last_name %></h3>
            <p><%= review.content %></p>
            <p><%= '<i class="fas fa-star"></i>'.html_safe * review.rating %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
