<br>
<div class="container-narrow mb-3 mt-3">
  <div class="user-info" >
    <br>
    <% if  @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key,height: 150, :quality=>60, crop: :mfit, class: "avatar-show-square", alt: "profile image"  %>
    <% else %>
    <div class="avatar-show-square">
    <%= cl_image_tag("fpatfvf9edoaaqhbkfrt", width: 150, crop: :fill, class: "avatar-show-square", alt: "profile image")  %>
    </div>
    <% end %>
    <div class="info">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <span class="d-flex"><%= @stars %> <h3 class="helpr-points ml-2"><%= @user.score %> helpr points</h3></span>
      <p><%= @user.bio %></p>
    <div class="address-align"><%= image_tag "unitedkingdom.png", class: "unitedkingdom", alt: "unitedkingdom.png", height: 35 %> <a class="address"><%= current_user == @user ? @user.address : @user.address.gsub(/^.../, '***') %></a></div>
      <br>
    </div>
  </div>
<hr>

  <% if user_signed_in? && @user == current_user %>
  <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-profile-edit" %>
  <%= link_to "Get Help", new_post_path, class: "btn btn-profile-post" %>
  <% end %>

<div class="reviews">
  <% if user_signed_in? && @user == current_user %>
  <h2 class="header">My Reviews</h2>
  <% else %>
  <h2 class="header">Reviews</h2>
  <% end %>
  <% if @bids.where(approved: true).map(&:reviews).flatten.any? %>
    <% @bids.where(approved: true).each do |bid| %>
      <% if bid.reviews.any?%>
        <div class="review-post">
          <div class="avatar-post-container">
            <div>
              <% review = bid.reviews.first%>
              <% if  review.user.photo.attached? %>
                <%= cl_image_tag review.user.photo.key,height: 72, :quality=>60, crop: :mfit, class: "avatar-extra-large", alt: "profile image"  %>
              <% else %>
                <%= cl_image_tag("fpatfvf9edoaaqhbkfrt",
                      width: 72, crop: :fill, class: "avatar-extra-large", alt: "profile image")  %>
              <% end %>

            </div>
            <div class="post-content">
              <h3><%= review.user.first_name %> <%= review.user.last_name %></h3>
              <p><%= review.content %></p>
              <p><%= '<i class="fas fa-star"></i>'.html_safe * review.rating %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif @posts.map(&:reviews).flatten.reject { |review| review.user_id == @user.id }.any? %>
      <% @posts.map(&:reviews).flatten.reject { |review| review.user_id == @user.id }.each do |review| %>
    <div class="review-post">
      <div class="avatar-post-container">
        <div>
          <% if  review.user.photo.attached? %>
            <%= cl_image_tag review.user.photo.key,height: 72, :quality=>60, crop: :mfit, class: "avatar-extra-large", alt: "profile image"  %>
          <% else %>
            <%= cl_image_tag("fpatfvf9edoaaqhbkfrt",
                  width: 72, crop: :fill, class: "avatar-extra-large", alt: "profile image")  %>
          <% end %>

        </div>
        <div class="post-content">
          <h3><%= review.user.first_name %> <%= review.user.last_name %></h3>
          <p><%= review.content %></p>
          <p><%= '<i class="fas fa-star"></i>'.html_safe * review.rating %></p>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
    <p> No reviews yet </p>
    <hr>
  <%= link_to "Community Feed", posts_path, class: "btn btn-profile-post" %>
  <% end %>
  </div>
</div>
<br>
