<div id="navbar-landing" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "helpr.png", style: "width: 100px" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#how-it-works" class="nav-link">How it works</a>
      </li>
      <li class="nav-item">
        <a href="#showcase-helprs" class="nav-link">Meet our Helprs</a>
      </li>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>


<div id="banner">
  <div class="container">
      <div class="col-6 d-flex">
        <div class="tagline">
          <h2>Lend a helping hand in your local community</h2>
        </div>
      </div>
      <div class="col-6">
        <div class="hero-ctas">
          <div>
            <p class="cta" id="cta-dashboard">My<br><strong>Dashboard</strong></p>
            <p class="cta" id="cta-become-helpr">Become a<br><strong>Helpr</strong></p>
          </div>
          <div>
            <p class="cta" id="cta-help">I need<br><strong>Help</strong></p>
            <p class="cta" id="cta-feed">Community<br><strong>Feed</strong></p>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="about">
  <div class="about-header">
    <h2>Who we are</h2>
    <p>We are a group of like-minded humans building a tight-knit community. We do that by lending each other a helping hand.</p>
    <h3>How it works</h3>
  </div>

  <div class="container how-it-works">
    <div class="row w-100 justify-content-center">
      <div class="card-pls-signup card-become-helpr">
        <div class="card-pls-signup-img" style="background-image:linear-gradient(rgba(145,50,138,0.5), rgba(145,50,138,0.5)), url('<%= image_path("hands-2.jpg") %>');">
        </div>
        <div class="card-description">
          <h4>Become a Helpr</h4>
          <ul>
            <li>Help a neighbor in need</li>
            <li>Feel great about a good deed</li>
            <li>Make friends</li>
          </ul>
        </div>
      </div>

      <div class="card-pls-signup card-need-help">
        <div class="card-pls-signup-img" style="background-image:linear-gradient(rgba(145,50,138,0.5), rgba(145,50,138,0.5)), url('<%= image_path("hands-3.jpg") %>');">
        </div>
        <div class="card-description">
          <h4>Need help?</h4>
          <ul>
            <li>Reach out to a local</li>
            <li>Get some help</li>
            <li>Meet new people</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="container-card-categories">
    <div class="cards-categories">
      <div class="card-categories"><%= image_tag "trolley.svg", alt: "trolley", style: "height: 50px; width: 50px;" %></div>
      <div class="card-categories"><%= image_tag "bulb.svg", alt: "lightbulb", style: "height: 50px; width: 50px;" %></div>
      <div class="card-categories"><%= image_tag "worker.svg", alt: "worker", style: "height: 50px; width: 50px;" %></div>
      <div class="card-categories"><%= image_tag "admin.svg", alt: "admin", style: "height: 50px; width: 50px;" %></div>
      <div class="card-categories"><%= image_tag "car.svg", alt: "car", style: "height: 50px; width: 50px;" %></div>
      <div class="card-categories"><%= image_tag "hoover.svg", alt: "hoover", style: "height: 50px; width: 50px;" %></div>
      <div class="card-categories"><%= image_tag "washingmachine.svg", alt: "washing machine", style: "height: 50px; width: 50px;" %></div>
    </div>
  </div>

<div id="showcase-helprs">
  <p>Say something nice about Helprs here</p>
  <div class="cards-showcase">
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
  </div>
</div>


<footer class="padding-small">
  <div class="contact">
    <ul class="list-inline">
      <li><strong>Contact</strong></li>
      <li>info@helpr.com</li>
      <li>+44 21657 8943</li>
    </ul>
  </div>

  <div>
    <p>© 2020 Helpr</p>
  </div>
</footer>

