<div id="banner">
  <div class="container align-items-center">

    <div class="col-6 d-flex">
      <div class="tagline">
        <h2 data-aos="fade-right" data-aos-duration="1000">Lend a helping hand in your local community</h2>
      </div>
    </div>

    <div class="col-6">

      <div class="hero-ctas" data-aos="fade-left" data-aos-duration="1000">
        <div>
          <% if user_signed_in? %>
            <%= link_to dashboard_path(current_user) do %>
              <div class="cta text-decoration-none" id="cta-dashboard">
                <p>My<br><strong>Dashboard</strong></p>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <div class="cta text-decoration-none" id="cta-dashboard">
                <p>My<br><strong>Dashboard</strong></p>
              </div>
            <% end %>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <div class="cta" id="cta-become-helpr">
              <p>Become a<br><strong>Helpr</strong></p>
            </div>
          <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
            <%= link_to new_post_path do %>
              <div class="cta" id="cta-help">
                <p>I need<br><strong>Help</strong></p>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path do %>
              <div class="cta" id="cta-help">
                <p>I need<br><strong>Help</strong></p>
              </div>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to posts_path(current_user) do %>
              <div class="cta" id="cta-feed">
                <p>Community<br><strong>Feed</strong></p>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path do %>
              <div class="cta" id="cta-feed">
                <p>Make a<br><strong>Difference</strong></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div> <!-- end of hero-CTAs -->
    </div> <!-- end of col-6 -->
  </div> <!-- end of container -->
</div> <!-- end of banner -->


<div id="about">
  <div class="about-header">
    <h2 data-aos="fade-right" data-aos-duration="1000">Who we are</h2>
    <p data-aos="fade-left" data-aos-duration="1000">We are a group of like-minded humans building a tight-knit community. We do that by lending each other a helping hand.</p>
  </div>

  <div class= how-it-works justify-content-center>
    <h2 data-aos="fade-right" data-aos-duration="1000">How it works</h2>
    <div class="container" data-aos="fade-left" data-aos-duration="1000">
      <div class="row w-100 justify-content-center">

        <div class="card-pls-signup card-become-helpr">
          <div class="card-pls-signup-img" style="background-image: url('<%= image_path("hands-2.jpg") %>');">
          </div>

          <div class="card-description">
            <h4>Become a Helpr</h4>
            <p>Lend a hand to your neighbors. With the app, you can look at what people around you might need and offer someone your help. </p>
          </div>
        </div>

        <div class="card-pls-signup card-need-help">
          <div class="card-pls-signup-img" style="background-image: url('<%= image_path("hands-3.jpg") %>');">
          </div>
          <div class="card-description">
            <h4>Need help?</h4>
            <p>Reach out to your local community through the app, get the help you need and meet new people!</p>
          </div>
        </div>

      </div>
    </div> <!-- end of container -->
  </div> <!-- end of how it works -->
</div> <!-- end of about -->

<div class="categories">
  <h2 data-aos="fade-right" data-aos-duration="1000">Get Helpr'd</h2>
  <div class="container-card-categories" data-aos="fade-left" data-aos-duration="1000">
    <div class="cards-categories">
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "trolley.svg", alt: "trolley", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Errands</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "bulb.svg", alt: "lightbulb", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Repairs</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "admin.svg", alt: "admin", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Admin</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "car.svg", alt: "car", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Lifts</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "hoover.svg", alt: "hoover", style: "height: 50px; width: 50px;" %>
        </div>
          <p>Cleaning</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "washingmachine.svg", alt: "washing machine", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Laundry</p>
      </div>
    </div>
  </div> <!-- end of container-card-categories -->
</div>


<div id="showcase-helprs">
  <h2>Top Helprs</h2>
  <div class="row cards-showcase justify-content-center " data-aos="fade-left" data-aos-duration="1000">
  <% @top_users.each do |user| %>
    <%= link_to user_path(user), class:"text-decoration-none" do %>
      <div class="card-helpr col-2">
        <% if  user.photo.attached? %>
          <%= cl_image_tag user.photo.key, height: 104, :quality=>60, crop: :mfit, class: "avatar-xxl", alt: "profile image"  %>
        <% else %>
          <div class="avatar-xxl">
            <%= cl_image_tag("fpatfvf9edoaaqhbkfrt",
                   width: 104, crop: :fill, class: "avatar-xxl", alt: "profile image")  %>
          </div>
        <% end %>
        <p><%= user.first_name %></p>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

