<div id="banner">
  <div class="container align-items-center">

    <div class="col-6 d-flex">
      <div class="tagline">
        <h2>Lend a helping hand in your local community</h2>
      </div>
    </div>

    <div class="col-6">

      <div class="hero-ctas">
        <div>
          <% if user_signed_in? %>
            <%= link_to dashboard_path(current_user) do %>
              <div class="cta text-decoration-none" id="cta-dashboard">
                <p>My<br><strong>Dashboard</strong></p>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <div class="cta text-decoration-none" id="cta-dashboard">
                <p>My<br><strong>Dashboard</strong></p>
              </div>
            <% end %>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <div class="cta" id="cta-become-helpr">
              <p>Become a<br><strong>Helpr</strong></p>
            </div>
          <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
            <%= link_to new_post_path do %>
              <div class="cta" id="cta-help">
                <p>I need<br><strong>Help</strong></p>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path do %>
              <div class="cta" id="cta-help">
                <p>I need<br><strong>Help</strong></p>
              </div>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to posts_path(current_user) do %>
              <div class="cta" id="cta-feed">
                <p>Community<br><strong>Feed</strong></p>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path do %>
              <div class="cta" id="cta-feed">
                <p>Make a<br><strong>Difference</strong></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div> <!-- end of hero-CTAs -->
    </div> <!-- end of col-6 -->
  </div> <!-- end of container -->
</div> <!-- end of banner -->


<div id="about">
  <div class="about-header">
    <h2>Who we are</h2>
    <p>We are a group of like-minded humans building a tight-knit community. We do that by lending each other a helping hand.</p>
  </div>

  <div class= how-it-works justify-content-center>
    <h2>How it works</h2>
    <div class="container">
      <div class="row w-100 justify-content-center">

        <div class="card-pls-signup card-become-helpr">
          <div class="card-pls-signup-img" style="background-image: url('<%= image_path("hands-2.jpg") %>');">
          </div>

          <div class="card-description">
            <h4>Become a Helpr</h4>
            <p>Lend a hand to your neighbors. With the app, you can look at what people around you might need and offer someone your help. </p>
          </div>
        </div>

        <div class="card-pls-signup card-need-help">
          <div class="card-pls-signup-img" style="background-image: url('<%= image_path("hands-3.jpg") %>');">
          </div>
          <div class="card-description">
            <h4>Need help?</h4>
            <p>Reach out to your local community through the app, get the help you need and meet new people!</p>
          </div>
        </div>

      </div>
    </div> <!-- end of container -->
  </div> <!-- end of how it works -->
</div> <!-- end of about -->

<div class="categories">
  <h2>Get Helpr'd</h2>
  <div class="container-card-categories">
    <div class="cards-categories">
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "trolley.svg", alt: "trolley", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Errands</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "bulb.svg", alt: "lightbulb", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Repairs</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "admin.svg", alt: "admin", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Admin</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "car.svg", alt: "car", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Lifts</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "hoover.svg", alt: "hoover", style: "height: 50px; width: 50px;" %>
        </div>
          <p>Cleaning</p>
      </div>
      <div class="category-card">
        <div class="card-categories-icon">
          <%= image_tag "washingmachine.svg", alt: "washing machine", style: "height: 50px; width: 50px;" %>
        </div>
        <p>Laundry</p>
      </div>
    </div>
  </div> <!-- end of container-card-categories -->
</div>


<div id="showcase-helprs">
  <h2>Meet a Helpr</h4>
  <div class="cards-showcase container">
    <div class="row justify-content-center">
      <%= link_to user_path(4), class:"text-decoration-none" do %>
        <div class="card-helpr col-2">
          <%= image_tag "corey.jpg", alt: "Corey", class:"avatar-xxl"%>
          <p>Corey</p>
        </div>
      <% end %>
      <%= link_to "#", class:"text-decoration-none" do %>
        <div class="card-helpr col-2">
          <%= image_tag "andrea.jpg", alt: "Andrea", class:"avatar-xxl"%>
          <p>Andrea</p>
        </div>
      <% end %>
      <%= link_to "#", class:"text-decoration-none" do %>
        <div class="card-helpr col-2">
          <%= image_tag "justin.jpg", alt: "justin", class:"avatar-xxl"%>
          <p>Justin</p>
        </div>
      <% end %>
      <%= link_to "#", class:"text-decoration-none" do %>
        <div class="card-helpr col-2">
          <%= image_tag "lina.jpg", alt: "lina", class:"avatar-xxl"%>
          <p>Lina</p>
        </div>
      <% end %>
      <%= link_to "#", class:"text-decoration-none" do %>
        <div class="card-helpr col-2">
          <%= image_tag "stefan.jpg", alt: "stefan", class:"avatar-xxl"%>
          <p>Stefan</p>
        </div>
      <% end %>
      <%= link_to "#", class:"text-decoration-none" do %>
        <div class="card-helpr col-2">
          <%= image_tag "umar.jpg", alt: "umar", class:"avatar-xxl"%>
          <p>Umar</p>
        </div>
      <% end %>
    </div> <!-- end of row -->
  </div>
</div>

