<%= render 'shared/navbar-in-app' %>

<div class="container">

  <div class="posts-container">
    <%= link_to new_post_path, class: "links" do %>
      <div class="create-post">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/anthonyPassler", class: "avatar", alt: "profile image" %>
        <p><strong>Need Help?</strong> Post a request.</p>
      </div>
    <% end %>
    <div class="post-container">

      <% @posts.each do |post| %>

        <%= link_to post_path(post), class: "links" do %>
          <div class="post">
            <div class="avatar-post-container">
              <div>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/anthonyPassler", class: "avatar-extra-large", alt: "profile image" %>
              </div>
              <div class="post-content">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <p><%= post.date %></p>
              </div>
            </div>
            <div class="date-btn">
              <p><%= post.date.nil? ? "ASAP" : post.date %></p>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>

  <div class="map-container">

    <%= image_tag "https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80", alt: "map"%>
    <div class="map-bottom">
      <h3>Help map</h3>
      <p>See all the help requests in your area on the help map.</p>
    </div>
  </div>
</div>
