<div class="container">

  <div class="posts-container">
    <%= link_to new_post_path, class: "links" do %>
      <div class="create-post">
        <% if  current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key,height: 40, :quality=>60, crop: :mfit, class: "avatar", alt: "profile image"  %>
        <% else %>
          <%= cl_image_tag("fpatfvf9edoaaqhbkfrt",
                width: 40, crop: :fill, class: "avatar", alt: "profile image")  %>
        <% end %>
        <p><strong>Need Help?</strong> Post a request.</p>
      </div>
    <% end %>
    <div class="post-container">

      <% @posts.each do |post| %>

        <% unless post.completed || post.bids.any? { |bid| bid.approved } %>
          <%= link_to post_path(post), class: "links" do %>
            <div class="post">
              <div class="avatar-post-container">
                <div>
                  <% if  post.user.photo.attached? %>
                    <%= cl_image_tag post.user.photo.key,height: 72, :quality=>60, crop: :mfit, class: "avatar-extra-large", alt: "profile image"  %>
                  <% else %>
                    <%= cl_image_tag("fpatfvf9edoaaqhbkfrt",
                          width: 72, crop: :fill, class: "avatar-extra-large", alt: "profile image")  %>
                  <% end %>
                </div>
                <div class="post-content">
                  <h3><%= post.title %></h3>
                  <p><%= post.content %></p>
                </div>
              </div>
              <div class="date-btn">
                <p><strong><%= post.date.nil? ? "ASAP" : post.date.strftime("%d %b %Y") %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>

  <div class="map-container map-posts-index ">
    <div id="map"
         style="width: 100%; height: 300px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="map-bottom">
      <h3>Help map</h3>
      <p>See all the help requests in your area on the help map.</p>
    </div>
  </div>
</div>
